
$page-margin: 0.5em;

@mixin box {
    border: $color5 solid 1px;
	padding: 0 1em;
	margin: 1em 0;
}

/*Grid Layout*/
.page-wrapper {
	margin: 0 $page-margin;
}

.intro {
    // display: grid;
    // grid-gap: 20px;
    // grid-template-areas: 
	// 	'header' 
	// 	'summary'
	// 	'preamble';
}

header {
    grid-area: header;
    min-height: 180px;
    color: $color3;
    background-color: $color2;
    text-align: center;
	margin: 0 (-$page-margin) 1em;
}

.summary {
    grid-area: summary;
    @include box;
}

.preamble {
    grid-area: preamble;
    @include box;
}

.main {
    // display: grid;
    // grid-gap: 20px;
    // grid-template-areas: 
	// 	'explanation'
	// 	'participation' 
	// 	'benefits' 
	// 	'requirements';
}

.explanation {
    grid-area: explanation;
    @include box;
}

.participation {
    grid-area: participation;
    @include box;
}

.benefits {
    grid-area: benefits;
    @include box;
}

.requirements {
    grid-area: requirements;
    @include box;
}

.wrapper {
    // display: grid;
    // grid-gap: 20px;
    // grid-template-areas: 'design-selection design-archives zen-resources'
}

.design-selection {
    grid-area: design-selection;
}

.design-archives {
    grid-area: design-archives;
}

.zen-resources {
    grid-area: zen-resources;
}


/*Media Queries*/

// @media screen and (max-width: 500px) {
//     .intro {
//         grid-template-areas: 'header' 'summary' 'preamble';
//     }
//     .mainsupporting {
//         grid-template-areas: 'explanation' 'participation' 'benefits' 'requirements'
//     }
// }