//colors
$color1: #190006; //maroon 
$color1-trans: rgba(25, 0, 6, 0.6); //maroon with 60% opacity
$color2: #FFF7E2; //cream
$color3: #800020; //red
$color4: #D2C6EB; //lilac
$color5: #D4AF37; //gold

$primary-font: 'Dosis', sans-serif;
$secondary-font: 'Limelight', cursive;
$base-font-size: 20px;
$sm-font: 16px;