// color palette - these colors will be the color swatches of the Colors section

$color-1: #AAA9AD; //Grey - Action color
$color-2: #FFF7E2; // Ivory
$color-3: #800020; // Bright Red
$color-4: #D4AF37; // Yellow
$color-5: #190006; // Burgundy

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: 'Dosis', sans-serif;
$secondary-font: 'Limelight', cursive;

